.tutorial-page__title {
    position: relative;
    top: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.tutorial-movement__container {
}

.tutorial-combat__container {
}

.tutorial-ability__container {
}

.tutorial-spell__container {
}

.tutorial-item__container {
}

.tutorial-shop__container {
}
