.journal-log {
    background-color: var(--dark-gray);
    width: 380px;

    justify-content: center;

    color: var(--white);
    font-size: 16px;
    text-transform: none;
    font-family: 'Montserrat';

    padding: 12px 15px;
}
